extends layout

block content
 div.dashboard
  a(href="/logout",style="float:right") Logout
 if error
  div.dashboard
   h4
   |ERROR : #{error}
 p
  br
  br
  div.dashboard
   h3 Available Quizzes:
   div(id="tableContainer")
    table(border="2px",width="100%")
     thead
      tr
       th Quiz
       th Status
       th Total Seats
       th Seats Left
       th Total Time
       th Action
     tbody
       each quiz in open_quizzes
        tr
         td #{quiz.name}
         td #{quiz.status}
         td #{quiz.total_seats}
         td
          span(id="left/#{quiz.id}")  #{quiz.total_seats}
         td #{quiz.total_time}
         td
          a(href="/waitingPage/#{quiz.id}") Join
   p.create_new_user_link
    a(href="/create_quiz") Create New Quiz
